/**
 * styles.css
 *
 * Eline Jacobse
 * Programmeerproject
 * Student: 11136235
 *
 */

#main {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    text-align: left;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.glyphicon-menu-down {
    color: #fff;

}

#page-intro {
  height: 800px;
	color: #fff;

    background: no-repeat fixed;
  /*background-image: url("/project/img/intro-bg.jpg");*/
  background-size: cover;
  width: 100%;
}

.container {
   z-index:2;
   width: 100%
   /*max-width: 1300px;*/
}

.padding-0 {
    padding: 0;
}

/*@media
.container {
    padding-left: 0px;
    padding-right: 0px;
}*/

.header {
  margin-top:12%;
  color:#fff;
}

.header h1 {
   color:#fff;
}

#paragraph-1 {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    top: -50px;
}

h3, h4, h5 {
    text-align:center;
    margin:auto;
}


#mapcontainer {
    align: center;
    /*margin: auto;*/
    position: relative;
    margin-bottom: 0;
    /*top: -50px;*/
}

p {
    /*display: block;*/
    /*max-width: 600px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*padding: 50px;*/
    /*-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;*/
}

#nl_container {
    width: 100%;
    height: 550px;
    align: right;
}

table {
    width: 100%;
}

th, td {
    width: 100px;
}

thead>tr {
    position: relative;
    display: block;
}

tbody {
    display: block;
    height: 450px;
    overflow: auto;
}


#tableInput {
    align: left;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 70%;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
}

#nl_text {
    padding-bottom: 25px;
}

.row-sm-margin {
    margin-top: 0px;
    /*margin-bottom: 0px;*/
    position: relative;
    top: -140px;
}

.display_4 {
    /*margin-top: 100px;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mapbuttons {
    margin-top: 20px;
    padding-bottom: 50px;
}

.heading-font {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
}

#netherlands_map, #bar_chart {
    background-color: #eee;
}

footer {
    margin-top: 0px;
    padding-top: 0px;
}

body {
   overflow-x: hidden;
   background-color: #eee;
}

.bottom-row {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btn-group-sm {
    /*white-space: nowrap;*/
    /*display: inline-block;*/
    /*text-align:center;*/
    display: flex;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 1.5px !important;
}

.btn-default.active {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}

.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.container-fluid {
    min-height: 100%;
    overflow:auto;
    background-color: #eee;
}

#btnSuicide {
    background-color: #eee;
    /*left: -20px;*/
    /*white-space: nowrap;*/
}

#btnDepression {
    background-color: #fff;
    /*white-space: nowrap;*/
}

/*#switcher:focus {
    background-color: #fff;
}*/

path {
    stroke: #eee;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    opacity: 0.8;
    shape-rendering: crispEdges;
}
/*#textcontainer {
    float: right;
}*/

#linecontainer {
    align: left;
    margin: auto;
    position: relative;
    margin-bottom: 0;
    /*top: -80px;*/
    width: 850px;
    /*position: absolute;;*/
}
.linegraph {
    margin: 0 auto;
    align: center;
    /*background-color: #fff;*/
    /*position: absolute;;*/
}

h4#linegraph_title {
    position: relative;
    /*top: -100px;*/
}

#region_buttons {
    position: relative;
    /*top: -100px;*/
    /*margin: auto;*/
    align: left;
}

p.text_up {
    position: relative;
    top: -40px;
}

.datamaps-subunits {
    z-index: 2;
}

.linegraphWrapper {
    position: relative;
    padding-top: 50px;
    width: 100%;
    /*top: -50px;*/
}

/*.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}*/

div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
}

.hidden {
        display: none;
}

.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top {
    position: static;
    top: -35px;
}

.navbar {
    z-index: 9999;
}

/*header {*/
    /*background: #f5b335;*/
    /*height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}*/

/*.nav-up {
    top: -40px;
}*/

#maptitle {
    text-align: left;
}

#section1 {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    /*background-color: #eee;*/
}

#section2 {
    background-color: #fff;
    /*margin: 10px;*/
    width: 100%;
    background-size: cover;
    /*margin-top: 150px;*/
}

.glyphicon-menu-up {
    color: #9d9d9d;
    margin: 0 auto;
    margin-top: 50px;
}

#barcontainer {
    margin-top: 50px;
}

#lineWrapper {
    margin-top: 50px;
}

#barRow {
    /*margin-top: 50px;*/
}

.line.clicked {
    stroke: #000;
    stroke-width: 2px;
    z-index: 9999;
}

.line.hovered {
    stroke: #000;
    stroke-width: 2px;
    z-index: 9998;
}

.line {
    stroke: #eee;
    z-index: 10;
}

.line.Europe{
    stroke: #ED7C31;
}
.line.EastAsia {
    stroke: #00BBD6;
}
.line.SouthAsia {
    stroke: #6E9E75;
}
.line.NorthAfrica {
    stroke: #E25f82;
}
.line.SubSaharan {
    stroke: #895881;
}
.line.LatinAmerica {
    stroke: #82A5C0;
}
.line.NorthAmerica {
    stroke: #BE1932;
}

#btnEurope.clicked {
    color: #FFF;
    background-color: #ED7C31;
}
#btnEastAsia.clicked {
    color: #FFF;
    background-color: #00BBD6;
}
#btnSouthAsia.clicked {
    color: #FFF;
    background-color: #6E9E75;
}
#btnNorthAfrica.clicked {
    color: #FFF;
    background-color: #E25f82;

}
#btnSubSaharan.clicked {
    color: #FFF;
    background-color: #895881;

}
#btnLatinAmerica.clicked {
    color: #FFF;
    background-color: #82A5C0;

}
#btnNorthAmerica.clicked {
    color: #FFF;
    background-color: #BE1932;

}

.bg-info {
    /*color: #eee;*/
    background-color: #eee !important;
}

/*#section3{
    width: 100%;
}*/
