/**
 * styles.css
 *
 * Eline Jacobse
 * Programmeerproject
 * Student: 11136235
 *
 */

#main {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.glyphicon-menu-down#iconLight {
    color: #fff;
}

#page-intro {
    height: 800px;
    color: #fff;
    background: no-repeat fixed;
    background-size: cover;
    width: 100%;
}

.container {
    z-index: 2;
    width: 100%
}

.padding-0 {
    padding: 0;
}

.header {
    margin-top: 12%;
    color: #fff;
}

.header h1 {
    color: #fff;
}

#paragraph-1 {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: -50px;
}

h3, h4, h5 {
    text-align: center;
    margin: auto;
}

#mapcontainer {
    align: center;
    position: relative;
    margin-bottom: 0;
}

.row-sm-margin {
    margin-top: 0px;
    position: relative;
    top: -140px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mapbuttons {
    margin-top: 20px;
    padding-bottom: 50px;
}

.heading-font {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

.body-font {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
}

#netherlands_map, #bar_chart {
    background-color: #eee;
}

footer {
    margin-top: 0px;
    padding-top: 0px;
}

body {
    overflow-x: hidden;
    background-color: #eee;
}

.bottom-row {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btn-group-sm {
    display: flex;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 1.5px !important;
}

.btn-default.active {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.container-fluid {
    min-height: 100%;
    overflow: auto;
    background-color: #eee;
}

#btnSuicide {
    background-color: #eee;
}

#btnDepression {
    background-color: #fff;
}

path {
    stroke: #eee;
    stroke-width: 1;
    fill: none;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    opacity: 0.8;
    shape-rendering: crispEdges;
}

#linecontainer {
    align: left;
    margin: auto;
    position: relative;
    margin-bottom: 0;
    width: 100%;

}

.linegraph {
    margin: 0 auto;
    align: center;
}

h4#linegraph_title {
    position: relative;
}

#region_buttons {
    position: relative;
    align: left;
}

p.text_up {
    position: relative;
    top: -40px;
}

.datamaps-subunits {
    z-index: 2;
}

.linegraphWrapper {
    position: relative;
    padding-top: 50px;
    width: 104%;
    padding-left: -30px;
    padding-right: -30px;
    border: 10px solid #fff;
    background-color: #fff;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}
.hidden {
    display: none;
}
.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top {
    position: static;
    top: -35px;
}
.navbar {
    z-index: 9999;
}

#maptitle {
    text-align: left;
}
#section1 {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}
#section2 {
    background-color: #fff;
    width: 100%;
    background-size: cover;
}
.glyphicon-menu-up {
    /*display: block;*/
    color: #9d9d9d;
    float: none;
    margin: 0 auto;
    margin-top: 50px;
}

.centered {
    float:none;
    position: relative;
    left: 85px;
}
.glyphicon-menu-down {
    color: #9d9d9d;
    margin-top: 50px;
}
#barcontainer {
    margin-top: 50px;
}
#lineWrapper {
    margin-top: 50px;
}

.line.clicked {
    stroke: #000;
    stroke-width: 2px;
    z-index: 9999;
}
.line.hovered {
    stroke: #000;
    stroke-width: 2px;
    z-index: 9998;
}
.line {
    stroke: #e4e4e4;
    z-index: 10;
}
.line.Europe {
    stroke: #ED7C31;
}
.line.EastAsia {
    stroke: #00BBD6;
}
.line.SouthAsia {
    stroke: #6E9E75;
}
.line.NorthAfrica {
    stroke: #E25f82;
}
.line.SubSaharan {
    stroke: #895881;
}
.line.LatinAmerica {
    stroke: #82A5C0;
}
.line.NorthAmerica {
    stroke: #BE1932;
}
#btnEurope.clicked {
    color: #FFF;
    background-color: #ED7C31;
}
#btnEastAsia.clicked {
    color: #FFF;
    background-color: #00BBD6;
}
#btnSouthAsia.clicked {
    color: #FFF;
    background-color: #6E9E75;
}
#btnNorthAfrica.clicked {
    color: #FFF;
    background-color: #E25f82;
}
#btnSubSaharan.clicked {
    color: #FFF;
    background-color: #895881;
}
#btnLatinAmerica.clicked {
    color: #FFF;
    background-color: #82A5C0;
}
#btnNorthAmerica.clicked {
    color: #FFF;
    background-color: #BE1932;
}
.bg-info {
    background-color: #eee !important;
}
.bottom-paragraph {
    position: relative;
    padding-top: 140px;
    vertical-align: bottom;
}
.title-left {
    text-align: left;
}

.container-fluid {
    overflow-x: hidden;
}
