#main {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#paragraph-1 {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    top: -50px;
}

h3, h4, h5 {
    text-align:center;
    margin:auto;
}


#mapcontainer {
    align: center;
    margin: auto;
    position: relative;
    margin-bottom: 0;
    top: -140px;
}

p {
    /*display: block;*/
    /*max-width: 600px;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*padding: 50px;*/
    /*-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;*/
}

#nl_container {
    width: 100%;
    height: 550px;
    align: right;
}

table {
    width: 100%;
}

th, td {
    width: 100px;
}

thead>tr {
    position: relative;
    display: block;
}

tbody {
    display: block;
    height: 450px;
    overflow: auto;
}


#tableInput {
    align: left;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 70%;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
}

#nl_text {
    padding-bottom: 25px;
}

.row-sm-margin {
    margin-top: 0px;
    /*margin-bottom: 0px;*/
    position: relative;
    top: -140px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.heading-font {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
}

#netherlands_map, #bar_chart {
    background-color: #eee;
}

footer {
    margin-top: 0px;
    padding-top: 0px;
}

body {
   overflow-x: hidden;
}

.bottom-row {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.container-fluid {
    min-height: 100%;
    overflow:auto;
}

#switcher {
    background-color: #eee;
}

#switcher:focus {
    background-color: #fff;
}

path {
    stroke: #eee;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    opacity: 0.8;
    shape-rendering: crispEdges;
}
/*#textcontainer {
    float: right;
}*/

#linecontainer {
    align: left;
    margin: auto;
    position: relative;
    margin-bottom: 0;
    top: -140px;
    width: 850px;
    /*position: absolute;;*/
}
.linegraph {
    margin: 0 auto;
    align: center;
    /*position: absolute;;*/
}

h4#linegraph_title {
    position: relative;
    top: -140px;
}

#region_buttons {
    position: relative;
    top: -140px;
    /*margin: auto;*/
    align: left;
}

p.text_up {
    position: relative;
    top: -40px;
}

.datamaps-subunits {
    z-index: 2;
}

#linegraphWrapper {
    position: relative;
    top: -50px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
}

.hidden {
        display: none;
}
